﻿<script type="text/javascript">
$(document).ready(function() {


      var options = {
         chart: {
            renderTo: 'containerLeaseAppsByCustomer',
            type: 'column'
         },
         title: {
            text: ''
         },
         xAxis: {
            categories: ['Customer']
         },
         yAxis: {
            title: {
               text: 'Amount'
            }
         },
         plotOptions: {
            series: {
               pointWidth: 20,
            },
            bar: {
               dataLabels: {
                  enabled: true
               }
            }
         },
         credits: {
            enabled: false
         },
         series: []
      };

      // Load the data from the XML file 
      $.get('/Dashboard/widgets/LeaseAppsByCustomerData.aspx', function (xml) {

         // Split the lines
         var $xml = $(xml);

//         // push categories
//         $xml.find('categories item').each(function (i, category) {
//            options.xAxis.categories.push($(category).text());
//         });

         // push series
         $xml.find('series').each(function (i, series) {
            var seriesOptions = {
               name: $(series).find('name').text(),
               data: parseInt($(series).find('data point').text())
            };

//            // push data points
//            $(series).find('data point').each(function (i, point) {
//               seriesOptions.data.push(parseInt($(point).text()));
//            });

            // add it to the options
            options.series.push(seriesOptions);
         });
         var chart = new Highcharts.Chart(options);
      });   
});
</script>

<div class="widget-content-window no-options">
    <div id="containerLeaseAppsByCustomer" class="chart-container"></div>
</div>