﻿<script type="text/javascript">
    // TODO: Refactor and tidy the code (WL: 12/14/2011).
    $(document).ready(function ()
    {


        var options = {
            chart: {
                renderTo: 'containerLeaseAppsByType',
                defaultSeriesType: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Lease App Type']
            },
            yAxis: {
                title: {
                    text: 'Amount'
                }
            },
            plotOptions: {
                column: {
                    pointWidth: 20
                }
            },
            credits: {
                enabled: false
            },
            series: []
            //            series: [
            //                {
            //                name: 'Initial',
            //                data: 78
            //                },
            //                {
            //                name: 'Modification',
            //                data: 140
            //                }
            //            ]
        };

        // Load the data from the XML file 
        $.get('/Dashboard/widgets/LeaseAppsByTypeData.aspx', function (xml)
        {

            // Split the lines
            var $xml = $(xml);

            // push categories
            //$xml.find('categories item').each(function (i, category) {
            //options.xAxis.categories.push($(category).text());
            //});

            // push series
            $xml.find('series item').each(function (i, series)
            {
                var seriesOptions = {
                    name: $(series).find('name').text(),
                    data: parseInt($(series).find('data point').text())
                };

                //                // push data points
                //                $(series).find('data point').each(function (i, point) {
                //                    seriesOptions.data.push(parseInt($(point).text()));
                //                });

                // add it to the options
                options.series.push(seriesOptions);
            });

            
            if (options.series.length < 1)
            {
                /* If no data to create a chart then show a message. */
                $("#containerLeaseAppsByType")
                .html("")
                .append('<div class="no-chart">' + 'No applications have been assigned to your name in any role.' + '</div>');
            }
            else
            {
                var chart = new Highcharts.Chart(options);
            }

        });
        //var chart = new Highcharts.Chart(options);

    });
</script>
<div class="widget-content-window no-options">
    <div id="containerLeaseAppsByType" class="chart-container">
        
    </div>
</div>
