<script type="text/javascript">
    $(document).ready(function ()
    {
        // a script to add class to specific the odd row for changing the background color
        $("#widgetMySavedFilter tbody tr:nth-child(odd)").addClass("odd-row");
    });

</script>

<div class="widget-content-window">    
    <table id="widgetMySavedFilter" class="widget-table deletable">
	<thead>
	    <tr>
		<td>Name and Link</td>
		<td>List View</td>
	    </tr>
	</thead>
	<tbody>
	    <tr>
		<td><a href="javascript:void(0)">My Lease Applications</a></td>
		<td>Sites</td>
	    </tr>
	    <tr>
		<td><a href="javascript:void(0)">WA State Applications</a></td>
		<td>Tower Mods</td>
	    </tr>
	    <tr>
		<td><a href="javascript:void(0)">Late Sprint Lease Apps</a></td>
		<td>Lease Apps</td>
	    </tr>
	    <tr>
		<td><a href="javascript:void(0)">In WA state</a></td>
		<td>Lease Apps</td>
	    </tr>
	    <tr>
		<td><a href="javascript:void(0)">My Lease Applications</a></td>
		<td>Lease Apps</td>
	    </tr>
	</tbody>
    </table>
</div>

<div class="widget-footer">
    <p>Click "Save Filter" on list views to add a new one</p> 
</div>