<script type="text/javascript">
    $(document).ready(function ()
    {
        // a script to add class to specific the odd row for changing the background color
        $("#widgetNewApp tbody tr:nth-child(odd)").addClass("odd-row");
    });

</script>

<div class="widget-content-window no-options">
    <table id="widgetNewApp" class="widget-table">
        <thead>
            <tr>
                <td>Site ID</td>
                <td>Customer Name</td>
                <td>Lease App Received</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">U1201456</a></td>
                <td>Department of Homeland Security</td>
                <td>02/09/10</td>
            </tr>
            <tr>
                <td><a href="#">JK238790M</a></td>
                <td>TMobile</td>
                <td>05/02/11</td>
            </tr>
            <tr>
                <td><a href="#">TY44232LL</a></td>
                <td>AT&T</td>
                <td>12/10/09</td>
            </tr>
            <tr>
                <td><a href="#">VQ9901KLM</a></td>
                <td>AT&T</td>
                <td>12/25/09</td>
            </tr>
            <tr>
                <td><a href="#">RB22012T</a></td>
                <td>TMobile</td>
                <td>04/26/10</td>
            </tr>
            <tr>
                <td><a href="#">U1201456</a></td>
                <td>Department of Homeland Security</td>
                <td>02/09/10</td>
            </tr>
            <tr>
                <td><a href="#">JK238790M</a></td>
                <td>TMobile</td>
                <td>05/02/11</td>
            </tr>
            <tr>
                <td><a href="#">TY44232LL</a></td>
                <td>AT&T</td>
                <td>12/10/09</td>
            </tr>
            <tr>
                <td><a href="#">VQ9901KLM</a></td>
                <td>AT&T</td>
                <td>12/25/09</td>
            </tr>
            <tr>
                <td><a href="#">RB22012T</a></td>
                <td>TMobile</td>
                <td>04/26/10</td>
            </tr>            
        </tbody>
    </table>
</div>