<div class="widget-options">
    <div class="widget-options-wrapper">
    <p>Please select which one of your Saved Filter <br />you want to show up in this widget.</p>
    <select>
        <option>Select one:</option>
        <option>My Lease Applications</option>
        <option>My Tower Mods</option>
        <option>SDPs for Sprint</option>
        <option>Late Sprint Lease Apps</option>
        <option>Option 5</option>
    </select>
    </div>
</div><!-- .widget-options -->
<div class="widget-content-window">
    <table class="widget-table">
        <thead>
            <tr>
                <td width="70">Site ID</td>
                <td>Customer Name</td>
                <td>Received</td>
                <td>Last Milestone</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">U1201456</a></td>
                <td>Department of H...</td>
                <td>02/09/10</td>
                <td>SA Approved</td>
            </tr>
            <tr>
                <td><a href="#">JK238790M</a></td>
                <td>TMobile</td>
                <td>05/02/11</td>
                <td>SA Ordered</td>
            </tr>
            <tr>
                <td><a href="#">TY44232LL</a></td>
                <td>AT&T</td>
                <td>12/10/09</td>
                <td>Sent for execution</td>
            </tr>
            <tr>
                <td><a href="#">VQ9901KLM</a></td>
                <td>AT&T</td>
                <td>12/25/09</td>
                <td>SA Ordered</td>
            </tr>
            <tr>
                <td><a href="#">RB22012T</a></td>
                <td>TMobile</td>
                <td>04/26/10</td>
                <td>Prelim Sitewalk</td>
            </tr>
            <tr>
                <td><a href="#">U1201456</a></td>
                <td>Department of H...</td>
                <td>02/09/10</td>
                <td>SA Approved</td>
            </tr>
            <tr>
                <td><a href="#">JK238790M</a></td>
                <td>TMobile</td>
                <td>05/02/11</td>
                <td>Sent for execution</td>
            </tr>
            <tr>
                <td><a href="#">TY44232LL</a></td>
                <td>AT&T</td>
                <td>12/10/09</td>
                <td>SA Ordered</td>
            </tr>
            <tr>
                <td><a href="#">VQ9901KLM</a></td>
                <td>AT&T</td>
                <td>12/25/09</td>
                <td>SA Approved</td>
            </tr>
            <tr>
                <td><a href="#">RB22012T</a></td>
                <td>TMobile</td>
                <td>04/26/10</td>
                <td>SA Ordered</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="widget-footer">
    <a class="edit-widget-button" href="javascript:void(0)">Edit Widget</a>
    <span class="widget-options-bar">
        <a class="widget-options-cancel" href="javascript:void(0)">Cancel</a>
        <a class="save-widget-button" href="javascript:void(0)">Save Widget</a>
    </span>
</div>