<script type="text/javascript">

var chart;
$(document).ready(function() {
        chart = new Highcharts.Chart({
                chart: {
                        renderTo: 'container3',
                        defaultSeriesType: 'bar'
                },
                title: {
                        text: null
                },
                xAxis: {
                        title: {
                                text: null
                        }
                },
                yAxis: {
                        title: {
                                text: null
                        }
                },
                legend: {
                        borderWidth: '0',
                        itemStyle : {
                            fontSize: '10px'
                            },
                },                
                tooltip: {
                        formatter: function() {
                                return ''+
                                         this.series.name +': '+ this.y;
                        }
                },
                plotOptions: {
                        bar: {
                                dataLabels: {
                                        enabled: true
                                }
                        }
                },
                credits: {
                        enabled: false
                },
                series: [{
                        name: 'At&t',
                        data: [49.0]
        
                }, {
                        name: 'Sprint',
                        data: [83.0]
        
                }, {
                        name: 'TMobile',
                        data: [48.0]
        
                }]
        });
     
});

</script>

<div class="widget-content-window no-options">
    <div id="container3" class="chart-container"></div>
</div>