<script type="text/javascript">

var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container2',
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			margin: [0, 0, 30, 0]
		},
		title: {
			text: null,
			style : {
				fontSize: '10pt'
			}						
		},
		legend: {
			borderWidth : '0',
			margin : '0',
			align : 'center',
			layout: 'horizontal',
			backgroundColor: '#FFFFFF',
			verticalAlign: 'bottom',
			floating: false,
			enabled: true,
			itemStyle : {
			        fontSize: '10px'
			}
		},
		credits: {
			enabled: false
		},					
		tooltip: {
			formatter: function() {
				return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
			}
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				size: '75%',
				cursor: 'pointer',
				dataLabels: {
					enabled: false
				},
				showInLegend: true
			}
		},
                series: [{
			type: 'pie',
			name: 'Browser share',
			data: [
			        {
			        name: 'Initial',   
			        y: 13.0,
			        selected: true,
			        sliced: true
			        },
				['Modification',        25.0],
				['Modification 1',	38.0],
				['Modification 2',	22.0],
				['Modification 3', 	2.0]
			]
		}]
	});
});
</script>

<div class="widget-content-window no-options">
			<div id="container2" class="chart-container"></div>
</div>