.all-comments-table
{
    margin-top: 10px;
}
.all-comments-table thead tr
{
    border-bottom: 2px solid #E1E1E1;
}
.all-comments-table td
{
    border-bottom: 1px dotted #E1E1E1;
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
}
.all-comments-table .comment, .all-comments-table .new-comment
{
    margin-bottom: 0;
}
.all-comments-table .author-info img
{
    display: block;
    float: none;
    height: 50px;
    margin: 0 auto 5px;
    width: 50px;
}
.all-comments-table .author-info
{
    color: #000000;
    margin-top: 0;
}
.all-comments .comment .balloon, .all-comments .new-comment .balloon
{
    min-height:30px;
    margin-left: 20px;
    text-align: left;
}

.comment, .new-comment {
    float: left;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.comment .balloon, .new-comment .balloon {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 2px solid #D1D1D1;
    border-radius: 10px 10px 10px 10px;
    font-size: 10pt;
    padding: 10px 20px;
    position: relative;
}

.comment .balloon .balloon-left-side, .new-comment .balloon .balloon-left-side
{
  -moz-transform: rotate(135deg) scale(0.5);
  -webkit-transform:rotate(135deg) scale(0.5);
  background-color:#F8F8F8;
  border-bottom-color:#D1D1D1;
  border-bottom-style:solid;
  border-bottom-width:4px;
  border-right-color:#D1D1D1;
  border-right-style:solid;
  border-right-width:4px;
  height:30px;
  left:-18px;
  position:absolute;
  top:10px;
  width:30px;
}
.author-info
{
    color: #A1A1A1;
    font-size: 10pt;
    margin-top: 15px;
}
.all-comments-table th.header
{
    background: url("/Styles/images/asc_desc.gif") no-repeat scroll right center transparent;
    cursor: pointer;
}
.all-comments-table th.headerSortUp
{
    background-image: url("/Styles/images/asc.gif");
    background-position: 100% 50%;
}
.all-comments-table th.headerSortDown
{
    background-image: url("/Styles/images/desc.gif");
    background-position: 100% 50%;
}

.btnBack
{
    padding: 0;
    font-size: 9pt;
    float:right;
}

.a-discussion {
    font-size: 10pt;
    top: 40px;
}

.textarea-new-discuss-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    height: 80px;
    padding: 5px;
    width: 100%;
    font-size: 10pt;
}

.div-add-discussion-action-btns 
{
    top: 32px;
    font-size: 0.8em;
    width: 300px;
    position: absolute;
    right: 0;
    text-align: right;
}

.form-select {
    border: 1px solid #E1E1E1;
    height: 24px;
    line-height: 17px;
    padding: 1px;
}

.inline-error-add-disc-item {
    background-color: #FFBABA;
    color: #D8000C !important;
    display: inline-block;
    margin-left: 4px;
    padding: 4px 8px;
    font-size: 9pt;
    position: absolute;
    top: 35px;
    right: 188px;
}

.recentCommentInfo
{
	font-size: 10pt;
	text-align: right;
	margin-top:4px; 
}

.relatedAppInfo
{
	font-size: 10pt;
	text-align: right;
}

.divCommentInfo
{
	margin-top:5px;
	font-size: 10pt;
	text-align:left;
}

.divCommentLink
{
	margin-top:9px;
	font-size: 10pt;
	text-align:right;
	float:right;
}

.EditDocumentLink
{
    color:Gray;
    text-decoration:none;
    cursor: pointer;
}

.EditDocumentLink:hover
{
    text-decoration:underline;
    color: #008da8;
}