﻿/**********************************
*   CSS Style for The Create or Edit page type
*   Apply for   LeaseApplication/Add
*               LeaseApplication/Create
*               SiteDataPackage/Add
*               SiteDataPackage/Edit
*               TowerModifications/Add
*               TowerModifications/Edit
/**********************************

/* Application Information */
.application-information
{
    position: relative;
}
.application-information .i-2-3
{
    width: 630px;
}

.general-information-column 
{
    float: left;
}

.information-list, .profile-list
{
    float: left;
    list-style: none;
    margin-right: 0px;
    font-size: 9pt;
}

.information-list li, .profile-list
{
    line-height: 130%;
}
.information-list li:first-child
{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10pt;
}

.nested-information-list-wrapper
{
   height:70px;
}

.nested-information-list
{
    list-style: none;
    margin-right: 0px;
    font-size: 9pt;
}

.nested-information-list li
{
    line-height: 130%;
}
.nested-information-list li:first-child
{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10pt;
}

.work-flow-item
{
	font-weight:normal;
}

#summary .information-list li span:first-child, #customer_contacts .information-list li span:first-child, .profile-list li span:first-child
{
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 110px;
    margin-bottom: 10px;
    font-size: 9pt;
}

#summary .information-list li:first-child
{
    width: auto;
}

#general-information .information-list li
{
    width: 210px;
}

.application-information .left-col-related-app
{
    margin-right: 10px;
    width: 322px;
    margin-top: 20px; 
}

.application-information .left-col-related-app
{
    float: left;
}

.application-information .left-col
{
    margin-right: 20px;
}
.application-information .left-col
{
    width: 323px;
    float: left;
}
.application-information .left-col-equip
{
    margin-right: 20px;
}
.application-information .left-col-equip
{
    width: 459px;
    float: left;
}
 .application-information .right-col
{
    width: 459px;
    float: left;
}
.application-information .full-col
{
    width: 950px;
    float: left;
}

.application-information .full-col-equipment
{
    width: 100%;
    float: left;
}

.application-information form h4
{
    width: 460px;
}
.application-information form .full-col h4
{
    width: 945px;
}
.application-information form label
{
    width: 150px;
}

.dimensions-field-list
{
    height: 26px;
    display: inline-block;
}
.dimensions-field-list li
{
    list-style: none;
    float: left;
    margin-right: 5px;
    line-height: 26px;
}
.dimensions-field-list input[type=text].short-field
{
    display: inline;
    float: none;
    margin-left: 0px;
    margin-right: 5px;
    width: 40px;
}

input[type=text].short-field
{
    width: 70px;
}
input[type=text].medium-field
{
    width: 120px;
}
input[type=text].long-field
{
    width: 180px;
}
.textarea-field
{
    width: 280px;
    height: 45px;
    display: inline-block;
    margin-bottom: 10px;
}
.field-list
{
    display: inline-block;
}
.field-list input[type=text].medium-field
{
    display: inline;
    float: none;
    margin-left: 0px;
    margin-right: 5px;
}
.field-list li
{
    list-style: none;
    margin-bottom: 7px;
}
.field-list input[type=tyext]
{
    display: inline;
    float: none;
    margin: 0 5px 0;
}

.textarea-label
{
    float: left;
}

.construction-img
{
    vertical-align:-28%;
}
/* /Application Information */

/* Jquery UI */
a.ui-button
{
    padding: .4em 1em;
}
.ui-button-icons-only
{
    padding: .7em 0em;
}

/* Application Process */
.application-process
{
    margin: 20px 20px 0 0;
    width: 710px;
}
.application-process #progressbar
{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    height: 18px;
}
.application-process .left-col
{
    width: 323px;
    margin-right: 20px;
    float: left;
}
.application-process .right-col
{
    width: 323px;
    margin-right: 0px;
    float: left;
}
.application-process .full-col
{
    width: 100%;
    float: left;
    padding-top: 0;
}

.application-process .full-col span
{
    width: auto;
    margin: 0;
    font-size: 9pt;
    margin-top: 10px;
}

/* /Application Process */

/* Progress Bar */
.ui-progressbar
{
    border: 1px solid #a1a1a1;
}
.ui-progressbar .ui-widget-header
{
    border: 1px solid #a1a1a1;
    background: #EC008C;
}

/* /Progress Bar */

/* Form and Control: Modal Lease Application */
.application-process .full-col label
{
    width: auto;
    text-align: left;
}
.form_element > h4, form h4
{
    font-size: 10pt;
    margin-top:6px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding: 0 0 6px 0;
    float: left;
    display: block;
    border-bottom: 2px solid #e1e1e1;
}
div.form_element > label, form label, form #lease span, form .application-process span, .create-container .form_element span, .form_element > span
{
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 110px;
    margin-bottom: 10px;
    font-size: 9pt;
}

div.form_element .listbox-container span, form .listbox-container span
{
    width: auto;
    margin-bottom: inherit;
}

div.form_element > input[type=text], form select
{
    display: inline-block;
}
div.form_element > input[type=text], form input[type=text]
{
    padding: 4px 6px 4px 2px;
    border: 1px solid #e1e1e1;
    width: 190px;
}

div.form_element > select, form select
{
    padding: 1px;
    border: 1px solid #e1e1e1;
    width: 203px;
    height: 24px;
    /* Add line-height to balance the high btw textbox and ddl in Safari */
    line-height: 17px;
}
div.form_element > label, form label, form .application-process span
{
    padding: 4px 0;
}
div.form_element > select.standard-multi, form select.standard-multi
{
    
    height: auto !important;
}
div.form_element > textarea, form textarea
{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 10pt;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 9pt !important;
}

.split, .split-r
{
    width: 85px !important;
}

input.split
{
    width: 83px !important;  
}

ol.asmList
{
    width: 100%;
    clear: left;
    font-size: 10pt;
    margin: 5px 0;
}
.asmSelect
{
    width: 100% !important;
}
.asmContainer select
{
    float: none;
    padding: 1px;
    border: 1px solid #e1e1e1;
    width: 196px;
    height: 24px;
}
.asmHighlight
{
    font-size: 8pt;
}
/* /Form and Control: Modal Lease Application */

/* Date Picker */
form input[type=text].datepicker, .form_element > input[type=text].datepicker
{
    background: url(/Styles/images/ui-calendar-calendar-icon.png) no-repeat center right #ffffff;
    font-size: 8pt !important;
    width: 83px;
    cursor: pointer;
}
#ui-datepicker-div
{
    border: 2px solid #D1D1D1; /* Add background color instead of old transparent */
    background: #FFF;
}

form input[type="text"].aspNetDisabled, form select.aspNetDisabled
{
    background-color: #EFEFEF;
    cursor: auto;
    color:#333 !important;
}


/* Disabled datepicker */



/* /Disabled datepicker */


/* /Date Picker */

/* Milestone */
form .application-process span.lblMilestone
{
    color: #000;
    font-size: 13pt;
    font-weight: bold;
    width: auto;
}
/* .Milestone */

/* Application Comments */
.application-comments
{
    margin-top: 20px;
    width: 257px;
}

.application-comments-inner-sa
{
    width:100%;
}
.link-comment:hover
{
    text-decoration:underline;
}
.link-comment
{
    text-decoration:none;
}

.link-comment-cancel
{
    margin-right:30px;
}
/* /Application Comments */

/* Modal Layout: Lease Application */
div.modal-container div.left-col
{
    margin-right: 20px;
}
div.modal-container div.full-col
{
    width: 100%;
    float: left;
}
div.modal-container div.left-col, div.modal-container div.right-col
{
    width: 340px;
    float: left;
}
/* /Modal Layout: Lease Application */

/* Add page */
.create-container
{
    margin: 20px auto 0;
    padding: 5px;
}

div.create-container-small
{
    margin: 0 auto;
    padding: 5px;
    width: 400px;
}

/* /Add page */

/* /Create page: Button position */

/* Jquery Cycle Slider */
.slideshow
{
    float: left;
    width: 100% !important;
}
.slideshow > div
{
    width: 99.4%;
}
#nav, #nav2, #nav3, #MainContent_nav2, #MainContent_plusbtn
{
    float: left;
    overflow: auto;
    width: auto;
}

#MainContent_plusbtn
{
    margin-top: 5px;
}


#nav a, #nav2 a, #nav3 a, #MainContent_nav2 a, MainContent_plusbtn input#btnplus2
{
    float: left;
    height: 28px;
    line-height: 28px;
    width: 28px;
    font-size: 10pt;
    border: 1px solid #ccc;
    background: #e1e1e1;
    color: #555;
    padding: 0;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px 10px 0;
}
#nav a.activeSlide, #nav2 a.activeSlide, #nav3 a.activeSlide, #MainContent_nav2 a.activeSlide
{
    background: #a1a1a1;
    color: #ffffff;
}

.edit-button, .history-button
{
    display: block;
    width: auto;
    height: 20px;
    background: #ffffff;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
}

.history-button
{
    width: 100px;
    text-align: left;
}

.del-button
{
    display: block;
    width: auto;
    height: 20px;
    background: white;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 150px;
}

.link-button
{
    margin-left:20px;
}


/* Jquery Cycle Slider: Tower Modifications */
.slideshow
{
    float: left;
    width: 100% !important;
}
.slideshow > div
{
    width: 99.4%;
}
.slider-nav
{
    float: left;
    overflow: overlay;
    width: 100%;
}
.slider-nav a
{
    float: left;
    height: 28px;
    line-height: 28px;
    width: 28px;
    font-size: 10pt;
    border: 1px solid #ccc;
    background: #e1e1e1;
    color: #555;
    padding: 0;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px 10px 0;
}
.slider-nav a.activeSlide
{
    background: #a1a1a1;
    color: #ffffff;
}

/* Page Options Bar */
.page-options-nav
{
    width: auto;
    float: right;
}
.field-list
{
    display: inline-block;
    height: 16px;
    line-height: 20px;
}
.field-list li
{
    list-style: none;
    float: left;
}

table .ui-button-text-icons .ui-button-icon-secondary, table .ui-button-icons-only .ui-button-icon-secondary
{
    right: 0.2em;
}
table .ui-button-text-icon-primary .ui-button-icon-primary, table .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary
{
    left: 0.2em;
}

/* Tool Tip */
.localvisible
{
    display: none;
}

/* Common Button Style */

/* Tables */
table 
{
    border-collapse: collapse;
    font-size: 10pt;
    font-size: 9pt;
}
table .header
{
    padding: 0;
}
table > td
{
    border: 1px solid #d1d1d1;
    padding: 10px 5px;
    text-align: center;
}
table > th
{
    border: 0;
    padding: 0px 2px 4px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background: #ffffff;
}
table tr:nth-child(even)
{
    background: #f1f1f1;
}
table > tr:nth-child(odd)
{
    background: #ffffff;
}

table > tbody tr:hover a
{
    color: #ffffff;
}

.inactive-row
{
    opacity: .2;
    height: 10px;
    padding: 0;
}

/* Apply new class to table element: Tower Modifications/Site Data Packages */
table.TableGenInfo
{
    margin-right: 20px;
    float: left;
}

table.TableGenInfo td:first-child, table.TableGenInfo td:last-child
{
    width: 80px;
}
.lease-table-col
{
    float: left;
    width: 420px;
    min-height: 230px;
    }
.lbl-notice
{
    background: #EC008C;
    color: #FFF;
    font-size: 9pt;
    padding: 10px;
    float: left;
    width: 380px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* Textarea: Comment Tower Modifications */

textarea.txtareaComment
{
    min-width: 300px;
    max-width: 300px;
    min-height: 85px;
    max-height: 250px !important;
}

/* Related Lease Apps */
.related-apps
{
   min-height: 60px;
   border:1px solid #ccc;
   min-width:420px;
}

table.related-apps
{
    min-width:420px;
    width: 420px;
}

div.related-apps
{
   height:85px;
   float: left;
}

.related-apps th
{
    background-color:#999;
    color:#fff;
    border:1px solid #ccc;
    padding:10px 5px 10px 5px;
}
.related-apps td
{
    padding:10px 5px 10px 5px;
    border:1px solid #ccc;
}
/* Related Lease Apps */

/* PanelPage Control for SA TO Tap  */
.PanelPageControl
{
    float:right;
    margin:0;
}

.PanelPageNumber
{
    float:left;
    margin:5px 0px 0px 0px;
}

.textPageNumber
{
    font-size: 9pt !important;
    font-family: Verdana,Arial,sans-serif;
    font-weight: bold;
    color: #555;
}

form .PanelPageNumber span, form .PanelPageNumber label
{
    width: auto;
    margin: 0;
}

/* End PanelPage Control for SA TO Tap  */
/*Equipment Tabs*/

.equip-init-div
{
    width: 453px;
    margin-right: 20px;
    float: left;
    overflow:auto;
    height: 1900;
}

.equip-mod-div
{
    width: 453px;
    margin-right: 0px;
    float: left;
}

.equip-prelabel
{
    width:200px;
    display: inline-block;
    text-align:center left;
    padding-top:1px;
}

.equip-span-prelabel
{
    display: inline-block;
    text-align:center;
}

.equip-gsiprelabel
{
    width:300px;
    display: inline-block;
    
}

.equip-gsi-div
{
    width: 800px;
    margin-right: 20px;
    float: left;
}

.equip-commentBox
{
	 max-width: 950px;
	 min-width: 950px;
	 min-height:200px;
	 overflow:auto;
}

.equip-gsiTxtBox
{
	width:220px;
}

.equip-multiLine-TextBox
{
	 margin:0 0 0 0;
	 Width:160px;
	 min-width:160px;
	 min-height:25;
	 max-height:25;
	 height:15px;
	 border: 5px solid inherit;
	 overflow:auto;
} 
.textarea 
{
	 margin:0 0 0 0;
	 Width:180px;
	 min-width:160px;
	 min-height:25;
	 max-height:25;
	 height:25px;
	 border: 5px solid inherit;
}
.textarea-small
{
	 margin:0 0 0 0;
	 min-width:70px;
	 min-height:25;
	 max-height:25;
	 height:25px;
	 width:70px;
	 border: 5px solid inherit;
	 overflow:auto;
}
.textarea-gsi 
{
	 margin:0 0 0 0;
	 Width:300px;
	 min-width:300px;
	 min-height:25;
	 max-height:25;
	 height:25px;
	 border: 5px solid inherit;
	 overflow:auto;
}
.tableData tr
{
	border:none;
	text-align:left;
}
.tableData td
{
	padding: 5px 5px;
	border:none;
	text-align:left;
}
table.tableData {
	border:none;
	text-align:left;
	width:453px;
	max-width:453px !important;
}
table.tableData tr {
	border:none;
	text-align:left;
	background-color:transparent;
	vertical-align:top;
	width:100%;
}
/*/Equipment Tabs*/
input:disabled, textarea:disabled, option:disabled, optgroup:disabled, select:disabled:disabled {
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    background-color: #EfEfEf;
    color: #333 !important;
    cursor: inherit;
    
}
.contactInfoFont
{
	color:rgb(102,102,102);
}

/* General */
.general-controls label, .label-auto
{
    width: auto !important;
    padding-bottom: 0 !important;
}/*/Css for Document link*/
input.split-have-document
{
    width: 85px !important;  
}

.selectFileTargetHeader
{

    top:65px;
	vertical-align:top;
	text-align:left;
	font-weight:bold;
}
.selectFileNameHeader
{
	width:auto !important;
	vertical-align:top;
	text-align:left !important;
	
}

.UploadDocumentLabel
{
  margin-left:80px;
}
.BtnCancleDocumentFooter
{
	 float:right;
	 margin-right:25px;
}
/*	/Uplaoad & Select Document/	*/
.BtnUploadStepBackDocumentFooter
{
	 float: left;
	 margin-right: 160px!important;
     margin-top: 10px;
}
.BtnSelectStepBackDocumentFooter
{
	 float: left;
	 margin-right: 136px !important;
     margin-top: 10px;
}

/*	/Remove Document/	*/
.BtnRemoveStepBackDocumentHaveDataFooter
{
	 float: left;
	 margin-right: 136px !important;
}
.BtnRemoveStepBackDocumentNoDataFooter
{
	 float: left;
	 margin-right: 136px !important;
}
.BtnRemoveDocument
{
	 float: right;
}

.infoNoData{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url("/Styles/images/info.png");
}
.RemoveDocumentDataDiv
{
    width: 100%;
    max-height:450px;
    overflow-y:auto;
    word-wrap: break-word;
}
.RemoveNewSaDoc
{
    width: 100%;
    max-height:450px;
    overflow-y:auto;
    padding-top:20px;
    word-wrap: break-word;
}
.removenewSaDocbtn
{
	float:right;
}
.RemoveItemLabel
{
	width: 95%; 
	text-align: left; 
	vertical-align: top; 
	padding: 0 0; 
	margin: 0 0 10px 5px;
}
.DocumentLi
{
	word-wrap:break-word;
	margin-bottom: 10px;
}
div.RemoveDocumentDataDiv > input
{
    text-align:left;
    vertical-align:top;
}
div.RemoveDocumentDataDiv > label
{
    width: 340px;
    text-align:left;
    vertical-align:top;
    padding:0 0;
    margin:0 0 0 5px;
}
.DocumentLinkHeader
{
	text-align:left !important;
}
.DocumentLinkFolder
{
	cursor: pointer;
	width:16px;
	height:16px;
	margin-bottom: -4px;
}

.DocumentButton a
{
    color: #008da8;
}

.DocumentButtonActive
{
    background: #008da8 !important;
    border-radius: 4px;
}

.DocumentButtonActive a
{
    color:White;
}

.AllReleateCommentButton
{
    display: inline-block; 
    text-align: center; 
    width: 100%; 
    margin: 15px auto;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 0.8em;
    font-weight: normal;
}

.menu, .menu ul {padding:0; margin:0; list-style:none;margin-top:20px;}
.menu {margin-left:10px;} 
.menu {width:90%; height:250px; background:#fcfcfc; border:1px solid #ddd;  position:relative; z-index:500;}
.menu table {border-collapse:collapse; padding:0; margin:0 0 -1px 0; width:0; height:0; font-size:1em;}
.menu ul {position:absolute; left:-9999px;}
.menu li {width:100%; height:42px; float:left; border-right:1px solid #ddd;}
.menu li a {display:block; width:100%; height:42px; line-height:42px; color:#777; text-decoration:none; font-size:16px;font-weight:bold; font-family:"lucida grande", arial, sans-serif; text-indent: 50px; float:left;}
.menu li a:hover {white-space:nowrap; position:relative; color:#06f;}
.menu li:hover {position:relative;}
.menu li.upload {background:url(../images/icons/uploadlink.png) no-repeat 10px center;}
.menu li.selectlink {background:url(../images/icons/link-add-icon.png) no-repeat 10px center;}
.menu li.removelink {background:url(../images/icons/link-delete-icon.png) no-repeat 10px center;}

.TowerListCreateButton {top:45px;}
.menu li.removelink {background:url(../images/icons/link-delete-icon.png) no-repeat 10px center;}

.MultiFile-wrap .MultiFile-list
{
    padding: 10px 0px 0px 40px; 
}
.MultiFile-wrap .MultiFile-remove
{
    text-align: left !important;
    float: left !important;
    margin-left: 15px !important;
    font-size: 10px !important;
    margin-top: 4px !important;
    text-decoration: none;
}

.MultiFile-wrap .MultiFile-title
{
    width: 300px !important;
    text-align: left !important;
    margin-left: 10px !important;
}

.EditDocumentLink
{
    color:Gray;
    text-decoration:none;
    cursor: pointer;
}

.EditDocumentLink:hover
{
    text-decoration:underline;
    color: #008da8;
    
}

/* toggle button iphone style */
.onoffswitch {
    float:left;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid  #E1E1E1; 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    width: 120px!important;
    height: 18px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after,
.onoffswitch-inner.before, .onoffswitch-inner.after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before,
.onoffswitch-inner.before {
    content: "Published";
    padding-left: 14px;
    background-color: #EC008C; 
    color: #FFFFFF;
    margin-top: -6px;
    width:120px;
}
.onoffswitch-inner:after,
.onoffswitch-inner.after {
    content: "Not Published";
    padding-right: 14px;
    background-color: #E6E6E6; 
    color: #999999;
    text-align: right;
    margin-top: -6px;
    width:120px;
}
.onoffswitch-switch {
    width: 18px; height:18px;
    background: url('../images/icons/switch.png') no-repeat center;
    position: relative; top: 0; bottom: 0;right: -50px;
    margin-left: 3px;
}

.onoffswitch-inner-disabled {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner-disabled:before, .onoffswitch-inner-disabled:after,
.onoffswitch-inner-disabled.before, .onoffswitch-inner-disabled.after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner-disabled:before,
.onoffswitch-inner-disabled.before {
    content: "Not Linked";
    padding-left: 14px;
    background-color: #E6E6E6;
    color: #999999;
    margin-top: -6px;
    width:120px;
}
.onoffswitch-inner-disabled:after,
.onoffswitch-inner-disabled.after {
    content: "Not Linked";
    padding-right: 14px;
    background-color: #E6E6E6; 
    color: #999999;
    text-align: right;
    margin-top: -6px;
    width:120px;
}

.move-folder-location-change-button{
   position: relative;
   float: right;
   top: -28px;
}

.move-folder-location-cancel-button{
   position: relative;
   float: right;
   top: -34px;
}

.move-folder-location-input {
   padding: 0 0 0 0 !important;
   position: relative; 
   top: -4px;
}

.move-folder-location-autocomplete {
   display: none;
   position: relative;
   left: -75px;
   top: -5px;
}
