﻿/**********************************
*   List View & Grids
**********************************/

/* Page Options Bar */
.page-options-nav {width:auto; float:right}
.field-list {display:inline-block; height: 16px; line-height: 20px;} 
.field-list li {list-style:none; float:left;}
/* /Page Options Bar */

/* Lease App Search Results Table */
.search-results-table img {border:0;}
.search-results-table {border-collapse:collapse;font-size:10pt; margin-top:5px; font-size:9pt;}
.search-results-table .header {padding:0;}
.search-results-table td {border:1px solid #d1d1d1; padding:10px 5px; text-align:center;}
.search-results-table th {border:0; padding:4px 2px; text-align:center; vertical-align:middle; background:#ffffff;}
.search-results-table tr:nth-child(even) {background: #f1f1f1}
.search-results-table tr:nth-child(odd) {background: #ffffff}
.search-results-table tbody tr:hover {background:#E20074; color:#ffffff;}
.search-results-table tbody tr:hover a {color:#ffffff;}
.search-results-tablet body tr:hover a.fancy-button {color:#555555;}
.search-results-table th.header {cursor:pointer; background: url(../images/asc_desc.gif) no-repeat center right;}
.search-results-table th.headerSortUp { background: url(../images/asc.gif) no-repeat center right;} 
.search-results-table th.headerSortDown { background: url(../images/desc.gif) no-repeat center right;}
.nolink {text-decoration:none; color:#000000; padding-bottom:2px; border-bottom:1px dotted #a1a1a1;}
/* /Lease App Search Results Table */

/* Filter Box */
.filter-box
{
    position:relative;
    display:none;
    width:100%;
    float:left;
    margin-bottom:10px;
    background:#f1f1f1;
    font-size:10pt;
}

.filter-box .right-col, .filter-box .left-col
{
    width: 50%;
    float: left;
}

.filter-box label, .filter-box .label
{
    width: 180px;
}

.filter-box .filter-button-close
{
    position:absolute;
    width:auto;
    right:20px;
}

.filter-box .input-autocomplete
{
    margin-left:4px;
    padding: 3px;
}

.filter-tags-container 
{
    overflow:auto;
}

.filter-tag
{
        border: 1px solid #d1d1d1;
        opacity:1;
        overflow:auto;
        background:#f1f1f1;
        color:#000000;
        width:auto;
        height:auto;
        border-radius:4px;
        font-size:9pt;
        padding:5px 10px 5px 10px;
        float:left; 
        margin-right:10px;
        margin-bottom: 10px;
}

.remove-filter-button
{
        line-height:19px;
        height:21px;
        width:21px;
        margin:5px 0px 4px 10px;
        float:left;
        cursor:pointer;
        text-align:center;
        font-size:14pt;
        color:#d1d1d1;
        background:#ffffff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}

/* /Filter Box */

/* Column */
.full-col
{
    width: 100%;
    padding-top: 20px;
}
/* / Column */

/* Form */
form label, form .label
{
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 110px;
    margin-bottom: 10px;
    font-size: 9pt;
}

form select
{
    display: inline-block;
}
form input[type=text]
{
    padding: 4px;
    border: 1px solid #e1e1e1;
    width: 190px;
}
form select
{
    padding: 1px;
    border: 1px solid #e1e1e1;
    width: 196px;
    height: 24px;
}

form select.standard-multi {
    height: auto;
}

form label, form .label
{
    padding: 4px 0;
}
.form_element > textarea, form textarea
{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 10pt;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 9pt !important;
}

.split, .split-r
{
    width: 85px !important;
}

ol.asmList
{
    width: 100%;
    clear: left;
    font-size: 10pt;
    margin: 5px 0;
}
.asmSelect
{
    width: 100% !important;
}
.asmContainer select
{
    float: none;
}
.asmHighlight
{
    font-size: 8pt;
}
/* /Form */

/* Date Picker */
form input[type=text].datepicker
{
    background: url(/Styles/images/ui-calendar-calendar-icon.png) no-repeat center right #ffffff;
    font-size: 8pt !important;
    width: 100px;
    cursor: pointer;
}
#ui-datepicker-div
{
    border: 2px solid #D1D1D1;
}
/* /Date Picker */


/* Additional class apply for Criteria related to adv.search.js */
/* DATE_TIME, DATE_TIME_WITH_STATUS */

#pnlAdvanceCriteria
{
    width: 560px;
}

#pnlAdvanceCriteria input, #pnlAdvanceCriteria select 
{   
    margin-left: 4px;        
}

#pnlAdvanceCriteria .fancy-button 
{   
    margin-left: 3px;        
}
.filter-box label.date_time_label
{ 
    width:15px;   
}

.critesria-title
{
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 180px;
    margin-bottom: 10px;
    font-size: 9pt;
    font-weight:bold;
    }
.criteria-select
{
    padding: 1px;
    border: 1px solid #e1e1e1;
    width: 196px;
    height: 24px;
    display: inline-block;
    }
.adv_search-input
{
	width:188px;
	}

.excelExportButton
{
	float:right;
}

.excelExportButton:disabled {
    color: #cccccc;
    background: #e6e6e6 url(/Styles/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% 50% repeat-x;
}

/* DMS */
.dms-folder-bar-cont 
{
    font-size: 0.8em;
    background: #fafafa url(/Styles/images/bg.gif) repeat-x top;
    border: #ccc solid 1px;
    border-bottom: none;
    padding: 0.7em 0.5em 0.5em 0.5em;
    margin: 3px 0 0 0;
}

.dms-folder
{
   background-image: url('/images/icons/Folder.png');
   background-repeat: no-repeat;
   padding-left: 30px;  
   display: block;
}

a.dms-folder-link
{
    display: inline-block;
    text-decoration: none;
}

.dms-file
{
   background-image: url('/images/icons/Download.png');
   background-repeat: no-repeat;
   padding-left: 30px;  
   display: block;
}

.dms-specify
{
    font-size: 0.9em;
    color: #444;    
}
/* /DMS */.dotHr
{
    border-top: 1px dotted #000;
    color: #fff;
    background-color: #fff;
    height: 1px;
}