﻿/*********************
 * Login CSS
 *********************/
* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 30px;
}

h1
{
    margin-top:5px;
    font-size: 20px;
}

a
{
    font-size:13px;
}

.Panel_Login {
    margin: 1em auto;
    width: 400px;
}

.Border_Login {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 18px #C8C8C8;
    font-weight: normal;
    margin-left: 8px;
    padding: 16px 16px 16px 16px;
}

.TextBox_Login {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px;
    width: 97%;
}

.Label_Message 
{
    font-size:13px;
    display:block;
    margin:60px 0 20px 0;
    font-weight: bold;
    color: #E11075;
    overflow:auto;
}

.Panel_Nav {
    margin: 0 0 0 8px;
    padding: 16px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.Button_Login {
    border: 1px solid;
    border-radius: 11px 11px 11px 11px;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 12px;
    margin-top: -3px;
    padding: 3px 10px;
    text-decoration: none;
}

.Label_Normal {
    color: #777777;
    font-size: 13px;
}

span.error-text
{
    font-weight:bold;
    font-size:12px;
    color: #E11075;
}

