img {
  border: 0 none;
}
table {
  border-collapse:collapse;
  font-size:9pt;
}
table .header {
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.related-apps td {
  border: 1px solid #D1D1D1;
  padding: 10px 5px;
  text-align:center;
}
.related-apps th {
  background-color:#FFFFFF;
  border: 0 none;
  height:20px;
  padding: 0 2px 4px;
  text-align:center;
  vertical-align:middle;
}
.related-apps tr:nth-child(even) {
  background-color:#F1F1F1;
}
.related-apps tr:nth-child(odd) {
  background-color:#FFFFFF;
}
.related-apps tbody tr:hover {
  background-color:#E20074;
  color:#FFFFFF;
}
.related-apps tbody tr:hover a {
  color:#FFFFFF;
}
.related-apps body tr:hover a.fancy-button {
  color:#555555;
}
.inactive-row {
  height:10px;
  opacity:0.2;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.comments-label {
  margin-bottom:0;
}
.filter-box .right-col, .filter-box .left-col {
  float:left;
  width:50%;
}
.filter-box .full-col {
  float:left;
  width:100%;
}
.filter-box label {
  width:180px;
}

