﻿<%@ Import Namespace="System.Web.Optimization" %>
<%@ Page Language="C#" MasterPageFile="~/Templates/ModalNoForm.Master" AutoEventWireup="true" CodeBehind="FolderTree.aspx.cs" Inherits="TrackIT2.DMS.FolderTree"  %>
<%@ MasterType TypeName="TrackIT2.Templates.ModalNoForm" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
   <!-- 
      This document is left blank because the code behind processing is
      returning an HTML snippet. In the future this can be converted to
      an AXD handler.
   -->
</asp:Content>